@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#dashboard {
    padding: 40px 0;
}

