@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.bg-gradient-primary {
    background-color: #4e73df;
    background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
    background-size: cover;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: #d46a00;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#dashboard {
    padding: 40px 0;
}

.bg-login-image {
    background: url(../src/assets/shiba1.jpg);
    background-position: center;
    background-size: cover;
}

.bg-register-image {
    background: url(../src/assets/shiba2.jpg);
    background-position: center;
    background-size: cover;
}

.bg-password-image {
    background: url(../src/assets/shiba3.jpg);
    background-position: center;
    background-size: cover;
}

.btn-primary {
    color: #fff !important;
    background-color: #DB9B00;
    border-color: #DB9B00;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #d46a00;
    border-color: #d46a00;
}

.btn-google {
    color: #3b5998;
    background-color: #fff;
    border-color: #3b5998;
}

.btn-google:hover {
    color: #fff;
    background-color: #DB0028;
    border-color: #e6e6e6;
}

.btn-google:focus,
.btn-google.focus {
    color: #fff;
    background-color: #fff;
    border-color: #e6e6e6;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-facebook {
    color: #3b5998;
    background-color: #fff;
    border-color: #3b5998;
}

.btn-facebook:hover {
    color: #fff;
    background-color: #3b5998;
    border-color: #3b5998;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #DB9B00;
}

form.user .custom-checkbox.small label {
    line-height: 1.5rem;
}

.navbar {
    background-color: #4e73df;
    color: #fff;
}

.search-bar {
    margin: auto;
}

.input-group {
    width: max-content;
}

.card {
    margin-bottom: 20px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.error-message {
    color: red;
}

.custom-google-signin-form {
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
}

.custom-google-signin-button {
    display: block;
    width: 100%;
    text-align: center;
    /* background-color: #4285f4; */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* .custom-google-signin-button:hover {
    background-color: #357ae8;
  } */

.custom-google-signin-divider {
    text-align: center;
    margin: 20px 0;
}

.custom-google-signin-divider::before,
.custom-google-signin-divider::after {
    content: "";
    display: inline-block;
    border-top: 1px solid #ccc;
    width: 45%;
    margin: 5px;
}

.login-container {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.btn-facebook {
    background-color: #1877f2;
    color: #fff;
}

.btn-facebook:hover {
    background-color: #115293;
}

@keyframes slideInFromBottom {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  .custom-animated-modal .modal-dialog {
    animation: slideInFromBottom 0.5s ease-in-out;
  }